/*  
1. Posicionamiento
2. Modelo de Caja(Box Model)
3. Tipografia 
4. Visuales
5. Otros
*/
:root {
    /* colores */
    --bitcoin-orange:#f7931a;
    --soft-orange:#ffe9d5;
    --secondary-blue:#1a9af7;
    --soft-blue:#e7f5ff;
    --warm-black:#201e1C;
    --black:#282623;
    --grey:#bababa;
    --off-white:#faf8f7;
    --just-white:#fff;
}
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html {
    font-size:62.5%;
    font-family: 'DM Sans', sans-serif;
    
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}
header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self:center;
}
.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 50px;
    text-align: center;
    align-self: center; /*Self se utiliza cuando el contenedor padre esta con display flex*/

}
.header--title-container h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 26px; /*La altura de la fuente que le doy a mi texto*/
    color: var(--just-white);
}
.header--title-container p {
    margin-top: 25px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: var(--soft-orange)
}
.header--title-container .header--button {
    position: absolute; /*Absolute puedo utilizar bottom, top, left y right para mover en esas posiciones para mover mi elemento. y si utilizo otro position no se va poder*/
    left: calc(50% - 118px); /*Calc es de calcular y agregar ciertos estilos especiales de posicion.*/
    top: 270px;
    display: block;
    margin-top: 35px;
    padding:15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89,73,30, 0.16);
    border:none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header--button span {
    display: inline-block;
    width: 13px;
    height: 18px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
}